:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --second-background-color: #F5F4FA;
    --footer-backgroud-color: #2F303A;
    --black-color: #000000;
}

body{
    background-color:var(--primary-background-color);
    color:var(--primary-text-color) ;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
header {
    border-bottom: 1px solid #ECECEC;
}
p, h1, h2, h3, h4, h6 {
    margin: 0;
}
img {
    display:block;
    max-width: 100%;
    height: auto;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}
.btn {
    border: none;
    text-align: center;
    cursor: pointer;
}   
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* header */
.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav {
    display: flex;
    align-items: center;
}
.logo {
    color:var(--accent-color);
    font-family:Raleway, sans-serif;
    font-weight: bold; 
    font-size: 26px;
    line-height: 1.19;
}
.main-menu .higher {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-first{
    color: var(--black-color);
}
.logo-second {
    color: var(--primary-background-color);
}

/* Site nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.site-nav .link:hover, 
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .site-nav-current {
    color: var(--accent-color);
}
.auth-nav {
    display: flex;
    margin-right: 0;
    margin-left: auto;
}
.auth-nav .item + .item {
    margin-left: 50px;
}
.auth-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}
.mail-icon {
    width: 16px;
    height: 12px;
    margin-right:10px;
    fill: currentColor;
    vertical-align:top;
    
  }
.phone-icon {
  width: 10px;
  height: 16px;
  margin-right:10px;
  fill: currentColor;
  vertical-align: top;
}

/* Hero */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--footer-backgroud-color);
    text-align: center;
}
.hero-title {
    color:var(--primary-background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.hero .btn {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
    color:var(--primary-background-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
}

/* Dignity */
.dignity {
    font-size: 14px;
    line-height: 1.71;
    padding: 94px 0;
}
.dignity .list {
    display: flex;
    flex-wrap: wrap;
}
.dignity .item {
    width: 270px;
    margin-right: 30px;
}
.dignity .item:last-child {
    margin-right: 0;
  }
.dignity-title {
    color:var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.dignity-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: var(--second-background-color);
    margin-bottom: 30px;

}
.antenna-icon,
.clock-icon,
.diagram-icon,
.astonaut-icon {
    display: flex;
    width: 70px;
    height: 70px;
}

/* Engage */
.engage {
    padding-top: 0;
    padding-bottom: 94px;
}
.engage .list {
    display: flex;
    flex-wrap: wrap;
}
.engage .item {
    width: 370px;
    margin-right: 30px;
}
.engage .item:last-child {
    margin-right: 0;
  }
.engage-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Command */
.command {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color:var(--second-background-color);
    font-size: 16px;
    line-height: 1.19;
    
}
.command .list {
    display: flex;
    flex-wrap: wrap;
}
.command .item {
    width: calc(100%/4-30px);
    margin-right: 30px;
    text-align: center;
}
.command .item:last-child {
    margin-right: 0;
}

.command-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    
}
.command-data {
    padding: 30px 0;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.command-title-item {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19; 
}
.command-data .pre-title {
    margin-bottom: 16px;
}
.command-social {
    display: flex;
    justify-content: center;
}
.social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.social-item:last-child {
    margin-right: 0;
}
.social-icon {
    width: 20px;
    height: 20px;
    fill:currentColor;
}

.social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:var(--primary-background-color);
    color: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-background-color);
}
/* client */
.client {
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.client-list {
    display: flex;
    justify-content: center;
}
.client-item {
    width: 170px;
    height: 92px;
    margin-right: 30px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.client-item:last-child {
    margin-right: 0;
}

.company-link {
    width: 100%;
    height: 100%;
    background-color:var(--primary-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
}
.client-item:hover,
.client-item:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}
.company-link:hover .company-icon,
.company-link:focus .company-icon {
    fill: var(--accent-color);
}

/* footer */
footer {
    padding: 60px 0;
    background-color: var(--footer-backgroud-color);
}
.info-contacs .lower {
    display: block;
    margin-bottom: 20px;
}
address {
    font-style: normal;
  }
.info {
    display: flex;
    align-items: baseline;
}

.contacts {
    font-family: inherit ;
    font-size: 14px;
    line-height: 1.71;
    
}
.contacts-item {
    color: var(--primary-background-color);
    margin-bottom: 9px;
}

.contacts .link {
    display: block;
    color: var(--primary-background-color) 60%;
    
}
.contact-tel {
    margin-bottom: 9px;
}

.contacts .link:hover,
.contacts .link:focus {
    color:var(--accent-color);
}
.join {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}
.join-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color:var(--primary-background-color);
    margin-bottom: 20px;
}
.join-social {
    display: flex;
}
.join-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.join-item:last-child {
    margin-right: 0;
}
.join-icon {
    width: 20px;
    height: 20px;
    fill:var(--primary-background-color);
}
.join-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.join-link:hover,
.join-link:focus {
    background-color: var(--accent-color);
}
/* Projects */
.main-projects {
    padding-top: 94px;
    padding-bottom: 94px;
}
.projects-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.projects-nav .btn {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--title-text-color);
    background-color:var(--second-background-color);
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}
.projects-nav .item+.item {
    margin-left: 8px;
}
.projects-nav .active-btn,
.projects-nav .btn:hover,
.projects-nav .btn:focus {
    background-color: var(--accent-color);
    color:var(--primary-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.87;
}
.projects .item {
    width: calc(100%/3-30px);
    margin-right: 30px;
    margin-bottom: 30px;
}
.projects .item:nth-child(3n) {
    margin-right: 0;
}
.projects .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.projects .item:hover,
.projects .item:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.projects-text {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}
.projects-title {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
}
.projects .pre-title {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88; 
    color: var(--primary-text-color);

}